.gameCard{
  height: 100%;
}

.imgGameCard{
  height: 500px;
  object-fit: cover;
  width: 100%;
}

.gameName{
  font-size: 20px;
  color: purple;
  font-weight: bold;
  text-align: center;
}

.gameDescription{
  font-size: 10px;
}

h1{
  color: $main-color;
}

.buttonCart{
  text-align: center;
}


.buttonCart button{
  border-radius: 50%;
  border: solid green;
  text-align: center;
  background-color: rgb(10, 222, 10);
}

